@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
body { 
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #6c7279;
}
h4 {
    font-size: 22px;
    color: #2d3033;
    font-weight: 400;
}
h5 {
    font-size: 14px;
    color: #2d3033;
    text-transform: uppercase;
    font-weight: 700;
}
p {
    font-size: 14px;
    line-height: 22.4px;
}
.pink{
  color:#e84545;
}
.no-padding [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
/*-----------header----------*/
.headers {
    background-image: url(img/header.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 700px;
    color:#fff;
}
.headers a{
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
.affix-top{
  background: transparent;
  padding-top: 20px;
  padding-bottom: 40px;
}
.affix{
  top: 0;
  width: 100%;
  background: #2f334e;
  border-bottom: 1px solid #8d9d9d;
  z-index:2;
}
.navbar-inverse {
    background-color: transparent;
    border: none;
}
.navbar {
    min-height: 30px;
    margin-bottom: 0px;
}
.navbar .container{
    border-bottom: 1px solid #9d9d9d;
    padding-bottom: 20px;
}
.affix .navbar .container{
    border-bottom: none;
    padding-bottom: 0;
}
.nav > li {
  font-size:14px;
  font-weight:bold;
  border-bottom: 2px solid transparent;
}
.nav > li:hover,
.nav > li:focus, .nav > li.active {
  color: #fff;
  background-color: transparent;
  border-bottom: 2px solid #fff;
}
.nav > li > a:hover,
.nav > li > a:focus{
  background-color: transparent;
}
.jumbotron {
    padding-top: 130px;
    padding-bottom: 130px;
    margin-bottom: 30px;
    color: inherit;
    background-color: transparent;
}
.modal-body{
  color:#333;
}
.btn.btn-lg{
  border-radius:0;
}
/*-----------end header----------*/
.features{
  padding-top:30px;
  padding-bottom:30px;
}
/*------------works--------*/
.thumbnail {
    border: none;
    webkit-box-shadow: none;
    box-shadow: none;
    padding:1px;
    margin-bottom:0px;
}
a.work-link{
  color:#fff;
  text-decoration: none;
}
.cover-bg{
  display:none;
  position: absolute;
  padding:10px;
  height:100%;
  top: 0;
}
.textAnimat .cover-bg{
  display:block;
  background: rgba(232, 69, 69, 0.8);
}
/*------------end works--------*/
.social a{
    border: 2px solid #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    text-align: center;
    width: 40px; 
}

.social a:hover{
      background-color: #e84545;
      border-color: #e84545;
      color: #fff; }
.row-blue{
  background-color: #3a3e64;
  padding-top: 50px;
  padding-bottom: 50px;
  color:#9c9ea7;
}
.row-blue h5 {
    color: #fff;
}
.row-blue p {
    margin:0 auto;
}
.row-dark-blue{
  background-color: #313454;
  padding-top: 20px;
  padding-bottom: 20px;
}
